<h2>Reset Password</h2>

<%= render "password_form.html", changeset: @changeset,
                        action: user_path(@conn, :change_password) %>

<%= link "Back", to: user_path(@conn, :login) %>
